
*.lock

.gradle/7.5/dependencies-accessors/gc.properties

*.class

*.bin

.gradle/7.5/gc.properties

.gradle/buildOutputCleanup/cache.properties

.gradle/vcs-1/gc.properties

.idea/compiler.xml

.idea/gradle.xml

.idea/

HELP.md

out/production/classes/META-INF/spring-configuration-metadata.json

out/production/resources/application.yml
